// Import fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');

body  {
  font-family: $ff-default;
  font-size: 1.6rem;
  line-height: 1.4em;
}

h1 {
  font-family: $ff-alt;
  font-weight: 400;
}
